@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@theme {
  --color-primary: #666666;
  --color-gold:#D4AC56;
  --color-accent: #EEEAE6;

}